<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Items
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">




  <ion-card *ngFor="let item of shopList" color="blue">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{item.quantity}} {{item.name}} </ion-card-title>
        <ion-thumbnail slot="start">
          <ion-img [src]="item.picture" alt=""></ion-img>
        </ion-thumbnail>
      </ion-card-header>
      <ion-card-content>

        <ion-button shape="round" color="secondary" size="small" (click)="EditItem(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

        </ion-button>
        <ion-button shape="round" color="danger" size="small"  (click)="RemoveItem(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>   
      
        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="success" size="small" (click)="UpdateItem(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Item</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.Editname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong></strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.Editquantity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Picture</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.Editpicture"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>

  <ion-fab-button><ion-icon name="arrow-back-outline" routerLink="/create"></ion-icon></ion-fab-button>
</ion-content>
